* {
    padding: 0;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    &::selection {
        background-color: #000000;
        color: white;
    }
    & h1, h2, h3, h4, h5, h6 {
        font-family: "Montserrat", sans-serif;
    }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
select {
    appearance: none;        /* Chrome */
    -moz-appearance: none;   /* Firefox */
    -webkit-appearance: none;/* Safari */
    // background: url('your-arrow.svg') no-repeat right center;
    padding-right: 2rem;     /* leave space for the fake arrow */
    background-size: 12px;
}

.center {
    padding-left: calc(50vw - 670px);
    padding-right: calc(50vw - 670px);
}
.centerMRG {
    margin-left: calc(50vw - 670px);
    margin-right: calc(50vw - 670px);
}
.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 15;
    &_landing {
        width: 100%;
        height: 150px;
    }
    &_top {
        background-color: #000000;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
        &_right {
            display: flex;
            align-items: center;
            gap: 20px;
            & img {
                height: 30px;
            }
            &_cart {
                display: flex;
                &_p {
                    display: none;
                    position: relative;
                    top: 0px;
                    left: -6px;
                    background-color: #fff;
                    height: 17px;
                    width: 15px;
                    font-size: 14px;
                    padding: 0;
                    border-radius: 8px;
                    text-align: center;
                    font-weight: 700;
                    &.display {
                        display: block;
                    }
                }
            }
        }
    }
    &_bottom {
        display: flex;
        gap: 20px;
        position: relative;
        gap: 30px;
        border-bottom: #000000 1px solid;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #fff;
        align-items: flex-end;
        & a {
            color: #000000;
            text-decoration: none;
            font-family: 'Russo One', sans-serif;
            font-size: 14px;
            font-weight: 300;
        }
    }
}
.link_like {
    cursor: pointer;
}
.hidden {
    display: none;
}

.profile_dropdown,
.cart_dropdown {
    position: absolute;
    top: 95%;
    right: 95%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    border-top-right-radius: 0;
    padding: 10px;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    & .link_like {
        cursor: pointer;
        padding: 5px 0;
        font-size: 20px;
        color: #000;
        text-decoration: none;
    }
}

.profile_icon_wrapper,
.header_top_right_cart {
    position: relative;
}


.dropdown {
    position: relative;
    &_btn {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 14px;
        color: inherit;
        font-family: "Russo One", sans-serif;
    }
    &_content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0,0,0,0.15);
        z-index: 1000;
        min-width: 160px;
        padding: 10px 0;
        & a {
            display: block;
            padding: 8px 16px;
            color: black;
            text-decoration: none; 
            &:hover {
                background-color: #f0f0f0;
            }
        }
    }
    &:hover &_content {
        display: block;
    }
}

.footer {
    background-color: black;
    color: white;
    & h3 {
        color: #5a6e73;
    }
    & a {
        color: white;
        text-decoration: none;
    }
    & div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight:100;
    }
    &__SM {
        display: flex;
        align-items: center;
        & div {
            display: flex;
            flex-direction: row;
            align-items: center;
            & .youtube {
                height: 22px;
            }
            & img {
                height: 30px; 
            } 
        }
    }
    &__top {
        padding-top: 32px;
        display: flex;
        justify-content: space-between;
    }
    &__bottom {
        padding-top: 64px;
        padding-bottom: 24px;
        display: flex;
        justify-content: space-between;
    }
}

.Main-slider {
    position: relative;
    overflow: hidden;
    margin: auto;

    .Main-slides-container {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;

        .Main-slide {
            min-width: 100%;
            transition: transform 0.5s ease-in-out;

            img {
                width: 100%;
                display: block;
            }
        }
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 10;

    &.prev { left: 10px; }
    &.next { right: 10px; }
  }

  .dots {
    text-align: center;
    margin-top: 10px;

    .dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 0 4px;
      border-radius: 50%;
      background: #ccc;
      cursor: pointer;

      &.active {
        background: #333;
      }
    }
  }
}
.TP {
    display: flex;
    width: 100%;
    &-slider {
        width: 728px;
    }
    &-img {
        width: 728px;
        overflow: hidden;
        &-track {
            display: flex;
            transition: transform 0.5s ease-in-out;
            & > div {
                flex: 0 0 728px;
            }
        }
    } 
    &-slash {
        display: flex;
        gap: 16px;
        padding-top: 15px;
        & button {
            height: 10px;
            width: 50px;
            border: none;
            background-color: #b3b3b3;
            transition: all 0.2s;
            &:hover {
                background-color: #000000;
            }
            &.active {
                background-color: #000000;
            }
        }
    }
    &-right {
        display: flex;
        flex-direction: column;
        justify-content: end;
        flex: 1;
        height: inherit;
        & button {
            width: 60px;
            height: 60px;
            border: none;
            background-color: #BFBFBf;
            font-size: 24px;
            transition: all 0.1s;
            
            &:hover {
                background-color: #d3d3d3;
            }
        }
    }
    &-textContainer {
        color: #000000;
        width: 100%;
        background-color: #F6F6F6;
        box-sizing: border-box;
        padding: 40px;
        transform: translateX(-10%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
        z-index: 3;
    }
    &-text {
        width: 0;
        height: 0;
        opacity: 0;
        font-size: 0;
        pointer-events: none;
        &.active {
            transition: opacity 0.5s ease-in-out;
            opacity: 1;
            width: 100%;
            height: auto;
            pointer-events: auto;
            & h4 {
                font-size: 28px;
                padding-bottom: 10px;
            }
            & p {
                font-size: 16px;
                & span {
                    font-size: 10px;
                }
            }
        }
        
    }
}
.Goals {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 64px;
    & h2 {
        padding-top: 32px;
        padding-bottom: 16px;
        font-family: 'Russo One', sans-serif;
        font-size: 36px;
        font-weight: 400;
    }
    & p {
        padding-bottom: 16px;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    &_links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        & a {
            width: 100%;
            background-color: black;
            height:max-content;
        }
        & img {
            width: 100%;
            height: 100%;
        }
    }
    &_img {
        &:hover {
            transition: all 0.2s ease-in-out;
            opacity: 0.8;
        }
    }
}
.link_tree {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    gap: 12px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    & a {
        color: #000000;
        text-decoration: none;
        font-weight: 700;
    }
    &_arrow {
        color: #8e8e8e;
    }
}
.enviroment {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_banner {
        width: 100%;
    }
    &_header {
        padding-top: 48px;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        text-align: center;
        & h1 {
            font-size: 48px;
        }
        & p {
            font-size: 20px;
        }
        gap: 10px;
        &_line {
            font-size: 32px;
            font-weight: 700;
        }
    }
    &_imges {
        display: flex;
        width: 80%;
        gap: 20px;
        padding-bottom: 32px;
        & img {
            width: 50%;
        };
    }
}

.quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    &_header {
        &Two {
            font-size: 20px;
        }
        &Three {
            width: 40%;
            font-size: 18px;
            padding-bottom: 16px;
            text-align: center;
        }
    }
    &_cards {
        padding-bottom: 48px;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
        & img {
            width: 100%;
        }
        & p {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
        }
    }
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 32px;
    & .link_tree {
        padding-bottom: 0;
    }
    & h1 {
        font-size: 36px;
    }
    & p {
        font-size: 20px;
    }
}
.return {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 32px;
    &_p {
        width: 100%;
        font-size: 20px;
    }
    & ul {
        margin-left: 50px;
        font-size: 20px;
    }
}
.offices {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 32px;
    margin-top: 32px;
    &_p {
        width: 100%;
        font-size: 20px;
    }
    & ul {
        width: 100%;
        margin-left: 80px;
        font-size: 20px;
    }
}
.catalog{
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
    &__side_menu{
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-right: 5%;
        box-sizing: border-box;
        & h1 {
            border-bottom: #000000 1px solid;
            padding-bottom: 15px;
            margin-bottom: 10px;
        }
        & div {
            border-bottom: #000000 1px solid;
            padding-bottom: 15px;
            margin-bottom: 10px;
        }
        & #filters {
            display: flex;
            flex-direction: column;
            gap: 10px;
            & fieldset {
                display: flex;
                flex-direction: column;
                gap: 5px;
                box-sizing: border-box;
                padding: 10px;
                & legend {
                    font-size: 20px;
                    font-weight: 600;
                }
                & label {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    width: fit-content;
                    padding: 5px;
                    transition: all ease-in-out;
                    &:hover {
                        background-color: #000000;
                        color: #fff;
                    }
                }
            }
        }
        & button {
            height: 60px;
            background-color: black;
            border: none;
            color: white;
            font-size: 20px;
            font-weight: 600;
            transition: all 0.2s;
            &:active {
                scale: 0.95;
            }
        }
    }
    &__products {
        display: flex;
        &_div {
            width: 75%;
        }
        &_header{
            display: flex;
            justify-content: space-between;
            border-bottom: #3a3a3a 1px solid;
            align-items:end;
            padding-bottom: 16px;
            & h1 {
                font-size: 32px;
            }
            & p {
                font-size: 18px;
            }
            & select {
                height: 40px;
                box-sizing: border-box;
                padding: 5px;
                border: 2px solid #bfbfbf;
                font-size: 16px;
                &:hover {
                    border: #000 2px solid;
                }
            }
        }
        &_grid {
            padding-top: 16px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        &_card {
            display: flex;
            flex-direction: column;
            padding: 5px;
            box-sizing: border-box;
            gap: 5px;
            & h4 {
                font-size: 24px;
            }
            & img {
                background-color: #f6f6f6;
                width: 100%;
            }
        }
    }
}
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
    &_form {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 40%;
        border: #000000 solid 1px;
        padding: 30px;
        box-sizing: border-box;
        & h1 {
            font-size: 24px;
            border-bottom: #000000 solid 1px;
            padding-bottom: 16px;
        }
        & label {
            padding-top: 16px;
            font-size: 20px;
            font-weight: 600;
        }
        & input, select {
            height: 60px;
            font-family: "PT Sans", sans-serif;
            padding: 15px;
            box-sizing: border-box;
            font-size: 20px;
            border: 1px solid #bfbfbf;
            &.error {
                box-shadow: inset 2px 4px 6px rgba(235,37,37,.25);
                border-color: red;
            }
        }
        & button {
            margin-top: 16px;
            height: 60px;
            background-color: black;
            border: none;
            color: white;
            font-size: 20px;
            transition: all 0.2s;
            &:active {
                scale: 0.95;
            }
        }
        
    }
}
.login {
     display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
    &_form {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 40%;
        border: #000000 solid 1px;
        padding: 30px;
        box-sizing: border-box;
        & h1 {
            font-size: 24px;
            border-bottom: #000000 solid 1px;
            padding-bottom: 16px;
        }
        & label {
            padding-top: 16px;
            font-size: 20px;
            font-weight: 600;
        }
        & input, select {
            height: 60px;
            font-family: "PT Sans", sans-serif;
            padding: 5px;
            font-size: 20px;
            border: 1px solid #bfbfbf;
            &.error {
                box-shadow: inset 2px 4px 6px rgba(235,37,37,.25);
                border-color: red;
            }
        }
        & button {
            margin-top: 16px;
            height: 60px;
            background-color: black;
            border: none;
            color: white;
            font-size: 20px;
            transition: all 0.2s;
            &:active {
                scale: 0.95;
            }
        }
        
    }
}
.error_msg {
    display: none;
    color: red;
    font-size: 20px;
    &_display {
        display: block;
    }
}
.product {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    & label {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
    }
    &__top {
        display: flex;
        gap: 50px;
        &_left {
            width: 60%;
        }
        &_right {
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            & h1 {
                font-size: 36px;
            }
            & ul li {
                font-size: 20px;
                list-style:symbols(url(./img/general/product/list_style.svg));
                list-style-position: inside;
            }
        }
    }
    &__flavour {
        display: flex;
        flex-direction: column;
        gap: 10px;
        & select {
            height: 60px;
            box-sizing: border-box;
            padding: 10px;
            border: #b0b0b0 1px solid;
            font-size: 16px;
            transition: all 0.2s;
            &:hover {
               background-color: #f1f1f1;
               border: #000 1px solid;
            }
        }
    }
    &__size {
        display: flex;
        flex-direction: column;
        gap: 10px;
        & div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 15px;
            & button {
                height: 60px;
                box-sizing: border-box;
                padding: 10px;
                border: #b0b0b0 1px solid;
                font-size: 16px; 
                background-color: #fff;
                transition: all 0.2s;
                &.selected {
                    background-color: black;
                    color: white;
                    border: none;
                    &:hover {
                        background-color: #000000;
                        border: none;
                    }
                }
                &.out-of-stock {
                    background-color: rgb(178, 178, 178);
                    border: none;
                    &:hover {
                        background-color: rgb(178, 178, 178);
                        border: none;
                    }
                }
                &:hover {
                    background-color: #f1f1f1;
                    border: 1px solid #000;
                }
            }
            
        }
    }
    &__price {
        font-size: 32px;
        font-weight: 800;
        font-family: "Montserrat", sans-serif;
        display: flex;
        gap: 10px;
        align-items: end;
        & .before {
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            color: #a2a2a2;
            font-weight: 500;
            text-decoration: line-through;
        }
        & .after {
            font-family: "Montserrat", sans-serif;
            font-weight: 900;
            color: rgb(187, 1, 1);
        }
    }
    &__amount {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &_bottom {
            display: flex;
            gap: 10px;
            
        }
        &_amount {
            display: flex;
            & button {
                font-size: 48px;
                height: 60px;
                width: 60px;
                background-color: white;
                border: #b0b0b0 1px solid;
                font-weight: 300;
                font-family: "Montserrat", sans-serif;
                &.btn--disabled {
                    background-color: rgb(178, 178, 178);
                    border: none;
                    &:hover {
                        background-color: rgb(178, 178, 178);
                        border: none;
                    }
                }
                &:hover {
                    background-color: #f1f1f1;
                    border: 1px solid #000;
                }
            }
            & input {
                font-family: "Montserrat", sans-serif;
                box-sizing: border-box;
                padding: 10px;
                border: #b0b0b0 1px solid;
                width: 80px;
                font-size: 16px;
                font-weight: 700;
                text-align: center;
            }
        }
    }
    &__order {
        font-size: 20px;
        width: 100%;
        height: 60px;
        color: #ffffff;
        background-color: rgb(0, 0, 0);
        border: none;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        &:hover {
            background-color: #1f1f1f;
        }
    }
    &__overview {
        display: flex;
        flex-direction: column;
        & section {
            width: 100%;
            border-top: #000 solid 1px;
            border-bottom: #000 solid 1px;
            &.open {
                & a span {
                    transform: rotate(90deg);
                }

                & div {
                    opacity: 1;
                    font-size: 16px; // Or your default
                    height: auto;
                    padding-bottom: 16px;
                }
            }

            & a {
                padding-top: 15px;
                padding-bottom: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                color: #000;
                & span {
                    font-size: 28px;
                    font-weight: 200;
                    font-family: "Montserrat", sans-serif;
                    transform: rotate(-90deg);
                    transition: transform 0.3s ease;
                    
                }
            }
            & div {
                opacity: 0;
                font-size: 0;
                height: 0;
                padding-bottom: 0px;
                transition: all 0.3s ease;

                // display: block; optional, if needed
            }
        }
    }
}
.admin {
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__top {
        display: flex;
        gap: 15px;
    }
    & button {
        font-size: 20px;
        height: 60px;
        background-color: white;
        border: #b0b0b0 1px solid;
        font-weight: 300;
        font-family: "Montserrat", sans-serif;
        padding: 10px;
        &:hover {
            border: 1px solid #000;
        }
        &:active {
            scale: 0.95;
        }
    }
    &__table {
        padding-top: 20px;
        width: 100%;
        & tr {
            text-align: center;
            & form {
                padding-top: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                flex-wrap: wrap;
                & label {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
                & input, textarea {
                    padding: 10px;
                    font-size: 16px;
                    border: #b0b0b0 1px solid;
                }
            }
        }
    }
}