* {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
}
*::-moz-selection {
  background-color: #000000;
  color: white;
}
*::selection {
  background-color: #000000;
  color: white;
}
* h1, * h2, * h3, * h4, * h5, * h6 {
  font-family: "Montserrat", sans-serif;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

select {
  appearance: none; /* Chrome */
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari */
  padding-right: 2rem; /* leave space for the fake arrow */
  background-size: 12px;
}

.center {
  padding-left: calc(50vw - 670px);
  padding-right: calc(50vw - 670px);
}

.centerMRG {
  margin-left: calc(50vw - 670px);
  margin-right: calc(50vw - 670px);
}

.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 15;
}
.header_landing {
  width: 100%;
  height: 150px;
}
.header_top {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header_top_right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header_top_right img {
  height: 30px;
}
.header_top_right_cart {
  display: flex;
}
.header_top_right_cart_p {
  display: none;
  position: relative;
  top: -5px;
  left: -6px;
  background-color: #fff;
  height: 20px;
  font-size: 14px;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
}
.header_top_right_cart_p.display {
  display: block;
}
.header_bottom {
  display: flex;
  gap: 20px;
  position: relative;
  gap: 30px;
  border-bottom: #000000 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  align-items: flex-end;
}
.header_bottom a {
  color: #000000;
  text-decoration: none;
  font-family: "Russo One", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.link_like {
  cursor: pointer;
}

.hidden {
  display: none;
}

.profile_dropdown,
.cart_dropdown {
  position: absolute;
  top: 95%;
  right: 95%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  border-top-right-radius: 0;
  padding: 10px;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.profile_dropdown .link_like, .profile_dropdown a.link_like,
.cart_dropdown .link_like,
.cart_dropdown a.link_like {
  cursor: pointer;
  padding: 10px 0;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.profile_icon_wrapper,
.header_top_right_cart {
  position: relative;
}

.dropdown {
  position: relative;
}
.dropdown_btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: inherit;
  font-family: "Russo One", sans-serif;
}
.dropdown_content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  min-width: 160px;
  padding: 10px 0;
}
.dropdown_content a {
  display: block;
  padding: 8px 16px;
  color: black;
  text-decoration: none;
}
.dropdown_content a:hover {
  background-color: #f0f0f0;
}
.dropdown:hover .dropdown_content {
  display: block;
}

.footer {
  background-color: black;
  color: white;
}
.footer h3 {
  color: #5a6e73;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 100;
}
.footer__SM {
  display: flex;
  align-items: center;
}
.footer__SM div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__SM div .youtube {
  height: 22px;
}
.footer__SM div img {
  height: 30px;
}
.footer__top {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}
.footer__bottom {
  padding-top: 64px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.Main-slider {
  position: relative;
  overflow: hidden;
  margin: auto;
}
.Main-slider .Main-slides-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.Main-slider .Main-slides-container .Main-slide {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}
.Main-slider .Main-slides-container .Main-slide img {
  width: 100%;
  display: block;
}
.Main-slider .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 10;
}
.Main-slider .arrow.prev {
  left: 10px;
}
.Main-slider .arrow.next {
  right: 10px;
}
.Main-slider .dots {
  text-align: center;
  margin-top: 10px;
}
.Main-slider .dots .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
}
.Main-slider .dots .dot.active {
  background: #333;
}

.TP {
  margin-top: 32px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.TP-slider {
  width: 100%;
  max-width: 728px;
  margin: 0 auto;
}
.TP-img {
  width: 100%;
  overflow: hidden;
}
.TP-img-track {
  display: flex;
  transition: transform 0.5s ease;
}
.TP-img-track > div {
  flex: 0 0 100%;
  width: 100%;
  aspect-ratio: 720/584.5;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.TP-img-track .first {
  background-image: url("./img/main/Protein-slide.webp");
}
.TP-img-track .second {
  background-image: url("./img/main/Energy-slide.webp");
}
.TP-img-track .third {
  background-image: url("./img/main/Weight-slide.webp");
}
.TP-img-track .fourth {
  background-image: url("./img/main/Creatine-slide.webp");
}
.TP-img-track .fifth {
  background-image: url("./img/main/Active-slide.webp");
}
.TP-slash button.active {
  background-color: black;
}
.TP-textContainer .TP-text {
  display: none;
}
.TP-textContainer .TP-text.active {
  display: block;
}
.TP-slash {
  display: flex;
  gap: 16px;
  padding-top: 15px;
}
.TP-slash button {
  height: 10px;
  width: 50px;
  border: none;
  background-color: #b3b3b3;
  transition: all 0.2s;
}
.TP-slash button:hover {
  background-color: #000000;
}
.TP-slash button.active {
  background-color: #000000;
}
.TP-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex: 1;
  height: inherit;
  padding-top: 20px;
}
.TP-right button {
  width: 60px;
  height: 60px;
  border: none;
  background-color: #BFBFBf;
  font-size: 24px;
  transition: all 0.1s;
}
.TP-right button:hover {
  background-color: #d3d3d3;
}
.TP-textContainer {
  color: #000000;
  width: 100%;
  background-color: #F6F6F6;
  box-sizing: border-box;
  padding: 40px;
  transform: translateX(-10%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  z-index: 3;
  margin: 0 auto;
  transform: none;
}
.TP-text {
  width: 0;
  height: 0;
  opacity: 0;
  font-size: 0;
  pointer-events: none;
}
.TP-text.active {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  width: 100%;
  height: auto;
  pointer-events: auto;
}
.TP-text.active h4 {
  font-size: 28px;
  padding-bottom: 10px;
}
.TP-text.active p {
  font-size: 16px;
}
.TP-text.active p span {
  font-size: 10px;
}

.Goals {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 64px;
}
.Goals h2 {
  padding-top: 32px;
  padding-bottom: 16px;
  font-family: "Russo One", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.Goals p {
  padding-bottom: 16px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.Goals_links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.Goals_links a {
  width: 100%;
  background-color: black;
  height: -moz-max-content;
  height: max-content;
}
.Goals_links img {
  width: 100%;
  height: 100%;
}
.Goals_img:hover {
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

.link_tree {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  gap: 12px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.link_tree a {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}
.link_tree_arrow {
  color: #8e8e8e;
}

.enviroment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enviroment_banner {
  width: 100%;
}
.enviroment_header {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  text-align: center;
  gap: 10px;
}
.enviroment_header h1 {
  font-size: 48px;
}
.enviroment_header p {
  font-size: 20px;
}
.enviroment_header_line {
  font-size: 32px;
  font-weight: 700;
}
.enviroment_imges {
  display: flex;
  width: 80%;
  gap: 20px;
  padding-bottom: 32px;
}
.enviroment_imges img {
  width: 50%;
}

.quality {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.quality_headerTwo {
  font-size: 20px;
}
.quality_headerThree {
  width: 40%;
  font-size: 18px;
  padding-bottom: 16px;
  text-align: center;
}
.quality_cards {
  padding-bottom: 48px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
.quality_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.quality_card img {
  width: 100%;
}
.quality_card p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 32px;
}
.about .link_tree {
  padding-bottom: 0;
}
.about h1 {
  font-size: 36px;
}
.about p {
  font-size: 20px;
}

.return {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 32px;
}
.return_p {
  width: 100%;
  font-size: 20px;
}
.return ul {
  margin-left: 50px;
  font-size: 20px;
}

.offices {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 32px;
  margin-top: 32px;
}
.offices_p {
  width: 100%;
  font-size: 20px;
}
.offices ul {
  width: 100%;
  margin-left: 80px;
  font-size: 20px;
}

.catalog {
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
}
.catalog #collapse_menu {
  font-size: 24px;
  height: 30px;
  transition: all 0.09s;
}
.catalog #collapse_menu:active {
  transform: rotate(90deg);
}
.catalog__side_menu {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 5%;
  box-sizing: border-box;
  transition: all 0.2s;
}
.catalog__side_menu.close {
  width: 0 !important;
  font-size: 0 !important;
  padding: 0;
}
.catalog__side_menu.close h1 {
  font-size: 0;
}
.catalog__side_menu.close #filters fieldset {
  display: none;
}
.catalog__side_menu h1 {
  border-bottom: #000000 1px solid;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.catalog__side_menu div {
  border-bottom: #000000 1px solid;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.catalog__side_menu #filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.catalog__side_menu #filters fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-sizing: border-box;
  padding: 10px;
}
.catalog__side_menu #filters fieldset legend {
  font-size: 20px;
  font-weight: 600;
}
.catalog__side_menu #filters fieldset label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  transition: all ease-in-out;
}
.catalog__side_menu #filters fieldset label:hover {
  background-color: #000000;
  color: #fff;
}
.catalog__side_menu button {
  height: 60px;
  background-color: black;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s;
}
.catalog__side_menu button:active {
  scale: 0.95;
}
.catalog__products {
  display: flex;
  gap: 10px;
}
.catalog__products_header {
  display: flex;
  justify-content: space-between;
  border-bottom: #3a3a3a 1px solid;
  align-items: end;
  padding-bottom: 16px;
}
.catalog__products_header h1 {
  font-size: 32px;
}
.catalog__products_header p {
  font-size: 18px;
}
.catalog__products_header select {
  height: 40px;
  box-sizing: border-box;
  padding: 5px;
  border: 2px solid #bfbfbf;
  font-size: 16px;
}
.catalog__products_header select:hover {
  border: #000 2px solid;
}
.catalog__products_grid {
  padding-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.catalog__products_grid.more {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.catalog__products_card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
  gap: 5px;
}
.catalog__products_card h4 {
  font-size: 24px;
}
.catalog__products_card img {
  background-color: #f6f6f6;
  width: 100%;
}
.catalog__products_card .normal_price {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.catalog__products_card .new_price {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: rgb(187, 1, 1);
}
.catalog__products_card .old_price {
  font-size: 14px;
  color: #a2a2a2;
  font-family: "Montserrat", sans-serif;
  text-decoration: line-through;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}
.register_form {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 40%;
  border: #000000 solid 1px;
  padding: 30px;
  box-sizing: border-box;
}
.register_form h1 {
  font-size: 24px;
  border-bottom: #000000 solid 1px;
  padding-bottom: 16px;
}
.register_form label {
  padding-top: 16px;
  font-size: 20px;
  font-weight: 600;
}
.register_form input, .register_form select {
  height: 60px;
  font-family: "PT Sans", sans-serif;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
  border: 1px solid #bfbfbf;
}
.register_form input.error, .register_form select.error {
  box-shadow: inset 2px 4px 6px rgba(235, 37, 37, 0.25);
  border-color: red;
}
.register_form button {
  margin-top: 16px;
  height: 60px;
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  transition: all 0.2s;
}
.register_form button:active {
  scale: 0.95;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}
.login_form {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 40%;
  border: #000000 solid 1px;
  padding: 30px;
  box-sizing: border-box;
}
.login_form h1 {
  font-size: 24px;
  border-bottom: #000000 solid 1px;
  padding-bottom: 16px;
}
.login_form label {
  padding-top: 16px;
  font-size: 20px;
  font-weight: 600;
}
.login_form input, .login_form select {
  height: 60px;
  font-family: "PT Sans", sans-serif;
  padding: 5px;
  font-size: 20px;
  border: 1px solid #bfbfbf;
}
.login_form input.error, .login_form select.error {
  box-shadow: inset 2px 4px 6px rgba(235, 37, 37, 0.25);
  border-color: red;
}
.login_form button {
  margin-top: 16px;
  height: 60px;
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  transition: all 0.2s;
}
.login_form button:active {
  scale: 0.95;
}

.error_msg {
  display: none;
  color: red;
  font-size: 20px;
}
.error_msg_display {
  display: block;
}

.product {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}
.product #product__rating {
  font-size: 24px;
}
.product__imges {
  width: 100%;
  display: flex;
  justify-content: center;
}
.product__imges img {
  width: 60%;
}
.product label {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.product__top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}
.product__top_right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-column: 2;
  grid-row: 1/3;
}
.product__top_right h1 {
  font-size: 36px;
}
.product__top_right ul li {
  font-size: 16px;
  list-style: symbols(url(./img/general/product/list_style.svg));
  list-style-position: inside;
}
.product__flavour {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product__flavour select {
  height: 60px;
  box-sizing: border-box;
  padding: 10px;
  border: #b0b0b0 1px solid;
  font-size: 16px;
  transition: all 0.2s;
}
.product__flavour select:hover {
  background-color: #f1f1f1;
  border: #000 1px solid;
}
.product__size {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product__size div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
.product__size div button {
  height: 60px;
  box-sizing: border-box;
  padding: 10px;
  border: #b0b0b0 1px solid;
  font-size: 16px;
  background-color: #fff;
  transition: all 0.2s;
}
.product__size div button.selected {
  background-color: black;
  color: white;
  border: none;
}
.product__size div button.selected:hover {
  background-color: #000000;
  border: none;
}
.product__size div button.out-of-stock {
  background-color: rgb(178, 178, 178);
  border: none;
}
.product__size div button.out-of-stock:hover {
  background-color: rgb(178, 178, 178);
  border: none;
}
.product__size div button:hover {
  background-color: #f1f1f1;
  border: 1px solid #000;
}
.product__price {
  font-size: 32px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  display: flex;
  gap: 10px;
  align-items: end;
}
.product__price .before {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #a2a2a2;
  font-weight: 500;
  text-decoration: line-through;
}
.product__price .after {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: rgb(187, 1, 1);
}
.product__amount {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product__amount_bottom {
  display: flex;
  gap: 10px;
}
.product__amount_amount {
  display: flex;
}
.product__amount_amount button {
  font-size: 48px;
  height: 60px;
  width: 60px;
  background-color: white;
  border: #b0b0b0 1px solid;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
.product__amount_amount button.btn--disabled {
  background-color: rgb(178, 178, 178);
  border: none;
}
.product__amount_amount button.btn--disabled:hover {
  background-color: rgb(178, 178, 178);
  border: none;
}
.product__amount_amount button:hover {
  background-color: #f1f1f1;
  border: 1px solid #000;
}
.product__amount_amount input {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 10px;
  border: #b0b0b0 1px solid;
  width: 80px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.product__order {
  font-size: 20px;
  width: 100%;
  height: 60px;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  border: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.product__order:hover {
  background-color: #1f1f1f;
}
.product__overview {
  display: flex;
  flex-direction: column;
}
.product__overview section {
  width: 100%;
  border-top: #000 solid 1px;
  border-bottom: #000 solid 1px;
}
.product__overview section.open a span {
  transform: rotate(90deg);
}
.product__overview section.open div {
  opacity: 1;
  font-size: 16px;
  height: auto;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product__overview section a {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #000;
}
.product__overview section a span {
  font-size: 28px;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}
.product__overview section div {
  opacity: 0;
  font-size: 0;
  height: 0;
  padding-bottom: 0px;
  transition: all 0.3s ease;
}
.product__bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product__bottom h1 {
  font-size: 32px;
  font-weight: 800;
}
.product__bottom_reviews {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.product__bottom_reviews form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product__bottom_reviews form h3 {
  font-size: 32px;
}
.product__bottom_reviews form input {
  width: 30%;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.product__bottom_reviews form select {
  border: #040404 1px solid;
  width: 10%;
  padding: 10px;
  text-align: center;
  font-weight: 600;
}
.product__bottom_reviews form textarea {
  padding: 10px;
  font-size: 16px;
}
.product__bottom_reviews form button {
  height: 60px;
  background-color: black;
  border: none;
  color: white;
  font-size: 24px;
  transition: all 0.2s;
}
.product__bottom .review {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}
.product__bottom .review_left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product__bottom .review_left h4 {
  font-size: 32px;
  font-weight: 600;
}
.product__bottom .review_left p {
  font-size: 24px;
  font-weight: 400;
}
.product__bottom .review_left p strong {
  font-weight: 500;
}
.product__bottom .review_right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}
.product__bottom .review_right h3 {
  font-size: 24px;
}
.product__bottom .review_right p {
  font-size: 20px;
  line-break: anywhere;
}
.product__bottom .review_rate {
  font-size: 24px;
  font-weight: 500;
  font-family: "Russo One", sans-serif;
}

.admin {
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.admin_message {
  display: none;
}
.admin__top {
  display: flex;
  gap: 15px;
}
.admin button {
  font-size: 20px;
  height: 60px;
  background-color: white;
  border: #b0b0b0 1px solid;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}
.admin button:hover {
  border: 1px solid #000;
}
.admin button:active {
  scale: 0.95;
}
.admin__table {
  padding-top: 20px;
  width: 100%;
}
.admin__table tr {
  text-align: center;
}
.admin__table tr td {
  line-break: anywhere;
}
.admin__table tr [data-column=Pass], .admin__table tr [data-column=Name], .admin__table tr [data-column=List], .admin__table tr [data-column=Overview], .admin__table tr [data-column=Suggest], .admin__table tr [data-column=Benefits] {
  font-size: 12px;
}
.admin__table tr button {
  font-size: 14px;
}
.admin__table tr form {
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.admin__table tr form label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.admin__table tr form input, .admin__table tr form textarea {
  padding: 10px;
  font-size: 16px;
  border: #b0b0b0 1px solid;
}

.profile {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile__container {
  max-width: 600px;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.profile__title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.profile__info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media (max-width: 600px) {
  .profile__info-grid {
    grid-template-columns: 1fr;
  }
}
.profile__info-item {
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.profile__info-item input {
  padding: 0.1rem;
  border-radius: 5px;
}
.profile__info-item .label {
  font-weight: bold;
  color: #555;
  margin-bottom: 4px;
}
.profile__info-item .value {
  color: #222;
}
.profile .edit-btn {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 0.1rem;
  background: #000000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.profile .edit-btn:hover {
  scale: 1.02;
}

.cart {
  padding-bottom: 32px;
  display: flex;
  gap: 30px;
}
.cart-container {
  width: 80%;
}
.cart__right {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}
.cart__right h2 {
  font-size: 28px;
  text-align: center;
  padding: 10px;
}
.cart__right p {
  padding: 10px;
  font-size: 20px;
}
.cart__right hr {
  margin-left: 10px;
  margin-right: 10px;
}
.cart__right #checkout-btn {
  display: block;
  margin: 10px;
  padding: 0.1rem;
  background: #000000;
  height: 60px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.cart__right #checkout-btn:active {
  scale: 1.02;
}
.cart__right #summary-items {
  text-align: center;
  font-weight: 600;
}
.cart__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cart__item {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}
.cart__item a {
  width: 15%;
}
.cart__img {
  width: 100%;
  height: auto;
}
.cart__info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.cart__info_left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart__info_left h3 {
  font-size: 24px;
}
.cart__info_left p {
  font-size: 18px;
}
.cart__info_right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart__info_right .product__amount_amount {
  display: flex;
  flex-direction: column;
}
.cart__info_right .product__amount_amount div {
  display: flex;
  align-items: center;
}
.cart__info_right .product__amount_amount input {
  width: 40px;
}
.cart__info .product__amount_amount {
  width: 100%;
  gap: 10px;
}
.cart__info .product__amount_amount button {
  width: 40px;
  height: 40px;
  font-size: 28px;
}
.cart__info .product__amount_amount .remove-btn {
  font-size: 20px;
  padding: 10px;
  width: auto;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 32px;
}
.history__grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.history__grid p {
  font-size: 18px;
}

@media (max-width: 1400px) {
  .center {
    padding-left: calc(50vw - 600px);
    padding-right: calc(50vw - 600px);
  }
}
@media (max-width: 1200px) {
  .center {
    padding-left: calc(50vw - 500px);
    padding-right: calc(50vw - 500px);
  }
  .TP-slider {
    width: 50vw;
  }
  .TP-img {
    width: 50vw;
  }
  .cart {
    flex-direction: column;
  }
  .cart .cart-container {
    width: 100%;
  }
  .cart__item {
    width: 100%;
  }
  .cart__item a {
    width: 40%;
  }
  .cart__item a img {
    width: 100%;
  }
  .cart__info_right {
    flex-direction: column;
    gap: 10px;
  }
  .cart__info_right .product__amount_amount {
    display: flex;
    flex-direction: column;
  }
  .cart__info_right .product__amount_amount div {
    display: flex;
    align-items: center;
  }
  .cart__info_right .product__amount_amount input {
    width: 40px;
  }
  .cart__info_left h3 {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .center {
    padding-left: calc(50vw - 400px);
    padding-right: calc(50vw - 400px);
  }
  .TP-textContainer {
    height: 400px;
  }
  .TP-text.active h4 {
    font-size: 24px;
  }
  .TP-text.active p {
    font-size: 14px;
  }
  .product__top {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .product__top_right {
    grid-column: auto;
    grid-row: auto;
  }
  .product__top_right h1 {
    font-size: 32px;
  }
  .product__order {
    font-size: 18px;
  }
  .catalog__side_menu {
    width: 30%;
  }
  .catalog__side_menu h1 {
    font-size: 20px;
  }
  .catalog__products_header h1 {
    font-size: 24px;
  }
  .catalog__products_header select {
    width: 60%;
    font-size: 12px;
  }
  .catalog__products_grid {
    grid-template-columns: 1fr 1fr;
  }
  .catalog__products_grid.more {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .history__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .admin button {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .center {
    padding-left: calc(50vw - 240px);
    padding-right: calc(50vw - 240px);
  }
  .TP-textContainer {
    width: 250px;
    height: 350px;
  }
  .TP-text.active h4 {
    font-size: 20px;
  }
  .TP-text.active p {
    font-size: 10px;
  }
  .TP-right {
    flex-direction: column-reverse;
    align-items: center;
  }
  .product__top_right h1 {
    font-size: 32px;
  }
  .product__order {
    font-size: 18px;
  }
  .Goals_links {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .Goals h2 {
    text-align: center;
  }
  .footer__top {
    flex-wrap: wrap;
    gap: 20px;
  }
  .catalog__side_menu {
    width: 40%;
  }
  .catalog__side_menu h1 {
    font-size: 20px;
  }
  .catalog__products_header h1 {
    font-size: 20px;
  }
  .catalog__products_header p {
    font-size: 12px;
  }
  .catalog__products_header label {
    font-size: 12px;
  }
  .catalog__products_header select {
    width: 60%;
    font-size: 12px;
  }
  .catalog__products_grid {
    grid-template-columns: 1fr;
  }
  .catalog__products_grid.more {
    grid-template-columns: 1fr 1fr;
  }
  .catalog__products_card {
    align-items: center;
    text-align: center;
  }
  .catalog__products_card img {
    width: 70%;
  }
  .admin {
    display: none;
  }
  .admin_message {
    padding-top: 16px;
    display: block;
    padding-bottom: 16px;
  }
  .history__grid {
    grid-template-columns: 1fr 1fr;
  }
  .history__grid h4 {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .center {
    padding-left: calc(50vw - 170px);
    padding-right: calc(50vw - 170px);
  }
  .header_bottom {
    gap: 5px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .header a {
    font-size: 14px;
  }
  .dropdown_btn {
    font-size: 14px;
  }
  .Goals_links {
    grid-template-columns: 1fr;
  }
  .Goals h2 {
    font-size: 20px;
  }
  .Goals p {
    font-size: 14px;
  }
  .quality_headerThree {
    width: 100%;
  }
  .quality_cards {
    grid-template-columns: 1fr 1fr;
  }
  .quality_cards p {
    font-size: 14px;
  }
  .enviroment_header {
    width: 90%;
  }
  .enviroment_header h1 {
    font-size: 28px;
  }
  .enviroment_imges {
    align-items: center;
    flex-direction: column;
  }
  .enviroment_imges img {
    width: 100%;
  }
  .catalog.center {
    padding: 0;
  }
  .catalog__side_menu {
    width: 40%;
  }
  .catalog__side_menu h1 {
    font-size: 16px;
  }
  .catalog__products_header h1 {
    font-size: 16px;
  }
  .catalog__products_header p {
    font-size: 12px;
  }
  .catalog__products_header label {
    font-size: 12px;
  }
  .catalog__products_header select {
    width: 60%;
    font-size: 12px;
  }
  .catalog__products_grid {
    grid-template-columns: 1fr;
  }
  .catalog__products_card {
    align-items: center;
    text-align: center;
  }
  .catalog__products_card img {
    width: 70%;
  }
  .footer__top {
    flex-direction: column;
    gap: 20px;
  }
  .cart__info_left h3 {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */